/* signup.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .main-container {
    display: flex;
    width: 100%;
    height: 100vh;
  }
  
  .container-01 {
    flex: 1;
    display: flex;
  }
  
  .background {
    max-width: 100%;
    height: 100vh;
  }
  
  .container-02 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #071829;
  }
  
  .content {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    text-align: center;
    color: #FFFFFF;
  }
  
  .title-container {
    margin-bottom: 20px;
  }
  
  .logo {
    font-size: 35px;
    color: #FFFFFF;
    font-family: Motley Forces;
    font-weight: 300;
  }
  
  .logoAccent {
    margin-left: 7px;
    color: #FFFFFF; 
    border-radius: 10px;
    background: #00B2FF;
    font-size: 35px;
    padding: 5px;
    font-weight: 900;
  
  }
  
  .description {
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'poppins';
  }
  
  .signupOptions {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 2px solid #ffffff1d;
    border-radius: 25px;
    background-color: #132a42;
    padding: 30px;
  }
  
  .googleButton,
  .emailButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    border: 3px solid #ffffff33;
    border-radius: 10px;
    cursor: pointer;
    padding: 15px;
    background-color:#0f2032 ;
    color:#FFFFFF;
    gap: 0.8em;
    text-decoration: none;
  }
  
  
  
  .emailIcon,
  .googleIcon {
    width: 20px;
    height: 20px;
  }
  
  
  .loginLink {
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 20px;
  }
  
  .loginLink a {
    color: #00B2FF;
    text-decoration: none;
  
  
  }
  
  
  .signup-title
  {
    color: #FFFFFF;
    
    margin: 0;
  }